@{
    Layout = "~/Views/Shared/_LayoutMoneyTemplate.cshtml";
}
@Html.Partial("_PartialMoneyForm3")
<div id="ajax">
    @Html.Action("MoneyList")
</div>
@section pageScript{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/money/AcctBook.js"></script>
    <script type="text/javascript">
        $.validator.addMethod("aftertoday", function(value, element, param){
            if (value == null) {
                return true;
            }
            var sysDt = new Date();
            var usrDt = new Date(value);
            var curDt = new Date(sysDt.getFullYear(), sysDt.getMonth(), sysDt.getDate());
            usrDt.setHours(0);
            var sysNum = Date.parse(curDt);
            var usrNum = Date.parse(usrDt);
            if (usrNum > sysNum) {
                return false;
            } else {
                return true;
            }
        });
        $.validator.unobtrusive.adapters.addSingleVal("aftertoday", "input");
    </script>
    }